<html lang="en">
  <head>
<!--       <link rel="import" href="/partials/head.html">
 -->      <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css"> 
      <link rel="stylesheet" href="/assets/bannerbar.css" type="text/css">
      <link rel="stylesheet" href="/assets/videotest.css" type="text/css">
      <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<script>
function myFunction(str) { 
  var myVideo = str;
  var select = "https://www.youtube.com/embed/o1tj2zJ2Wvg";
  if  (str) {
    document.querySelector(".video").src = myVideo;
  } else if (!document.querySelector(".video").src || document.querySelector(".video").src === "") {
    document.querySelector(".video").src = select;
  }
}
</script>
      
  </head>
<body>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Kevin Mitchell</h1>
    <p class="lead" style="text-align:center;">Software Developer</p>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/resume">Resume</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/videos">Videos</a>
      </li>
      
    </ul>
  </div>
</nav> 

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-xs-1 p-l-0 p-r-0 collapse in" id="sidebar">
            <div class="list-group panel">
                <a href="#menu1" class="list-group-item collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="devicon-ruby-plain"></i> <span class="hidden-sm-down">Ruby</span> </a>
                <div class="collapse" id="menu1">
                    <a href="#menu1sub1" class="list-group-item" data-toggle="collapse" aria-expanded="false">Ruby Minus Ruby</a>
                    <div class="collapse" id="menu1sub1">
                        <p onclick="myFunction('https://www.youtube.com/embed/UCeYjXYEOow')" class="list-group-item" data-parent="#menu1sub1">Reverse</p>
                        <p onclick="myFunction('https://youtube.com/embed/iZd_y0c0uaY')" class="list-group-item" data-parent="#menu1sub1">Sort</p>
                        <p onclick="myFunction('https://youtube.com/embed/BYeYestoQ-0')" class="list-group-item" data-parent="#menu1sub1">Split</p>
                    </div>
                </div>
                <p onclick="myFunction('https://www.youtube.com/embed/CwJXk4__CEY')" class="list-group-item collapsed" data-parent="#sidebar"><i class="fa fa-film"></i> <span class="hidden-sm-down">Projects</span></p>
            </div>
        </div>
      <main class="col-md-9 col-xs-11 p-l-2 p-t-2">
        <div class="embed-responsive embed-responsive-16by9">
            <div class="container-fluid">
              <iframe class="video"  onload="myFunction()" width="920" height="515">
              </iframe>
            </div>
        </div>
      </main>
    </div>
  </div>

  <footer>
    <div class="jumbotron jumbotron-fluid" style="margin-top:2em;">
      <div class="container">
      </div>
    </div>
  </footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</body>  


